extends ./layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Add a Flush

  form(action='/add', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Location Details
      .col-md-7
        input.form-control(type='text', name='location', id='location')
        input(type='hidden', name='lat', value='0')
        input(type='hidden', name='lon', value='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='address') Address
      .col-md-7
        input.form-control(type='text', name='address', id='address', value='' disabled)

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Gender
      .col-sm-6
        .form-check.form-check-inline
          input(type='radio', class='form-check-input' checked=user.profile.gender == 'male', name='gender', value='male', data-toggle='radio')
          label.form-check-label Male

        .form-check.form-check-inline
          input(type='radio', class='form-check-input' checked=user.profile.gender == 'female', name='gender', value='female', data-toggle='radio')
          label.form-check-label Female

        .form-check.form-check-inline
          input(type='radio', class='form-check-input' checked=user.profile.gender == 'other', name='gender', value='unisex', data-toggle='radio')
          label.form-check-label Unisex
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='cleanliness') Cleanliness
      .col-md-7
        #cleanlinessStars
        input#cleanliness(type='hidden', name='cleanliness', value='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='traffic') Traffic
      .col-md-7
        #trafficStars
        input#traffic(type='hidden', name='traffic', value='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='tp') Toilet Paper Quality
      .col-md-7
        #tpStars
        input#tp(type='hidden', name='tp', value='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='traffic') Features
    .form-group.row
      .col-md-3
      .col-md-7
        input#paperTowels.form-check-input(type='checkbox', name='papertowels', value='true')
        label.form-check-label(for='paperTowels')
          | Paper Towels
    .form-group.row
      .col-md-3
      .col-md-7
        input#toiletPaper.form-check-input(type='checkbox', name='toiletpaper', value='true')
        label.form-check-label(for='toiletPaper')
          | Toilet Paper
    br

    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-toilet.fa-sm
          | Add Flush
