extends layout

block content
  img#logo(src='/logo.png')
  h1 FlushRush
  p.lead Find a flush, in a rush!
  hr
  .row.front-row
    .col-md-6
      h2 About
      p
        | FlushRush assists users in finding public restrooms when they are in an unfamiliar area. Users can view and rate public restrooms for qualities like cleanliness, traffic, toilet paper. Users can also add new restrooms if they aren't registered already.
      p
    .col-md-6
    .col-md-6
      h2 Add
      p
        | Add new restrooms to our map! The add tool allows you to name and rate a new restroom.
      p
      a.btn.btn-raised(href='/add', role='button') Add »
    .col-md-6
      h2 Find
      p
        | Find a nearby restroom! The find tool provides you with a location and rating.
      p
      a.btn.btn-raised(href='/find', role='button') Find »
