:root{
    --yella: #f8f186;
    --pale: #feffff;
    --grayish: #6e7273;
    --lilgray: #b6b9be;
    }
    
    body {
        background-color: #243165;
        color: #feffff;
    }

    hr {
        border-top: 1px solid #b6b9be;
    }

    #logo {
        float: left;
        width: 7.5em;
        height: 7.5em;
    }

    .front-row {
        display: inline-block;
        vertical-align: top;
    }
        .col-md-6 {
            margin-bottom: 2em;
        }
        .form-group {
            vertical-align: center;
        }

    .btn, .btn-raised {
        background-image:linear-gradient(to bottom, #f8f4b9 60%, #f8f186 100%);
        background-color: #f8f186 !important;
        border-radius: 5px;
    }
    .btn-primary {
        color: #6e7273;
    }
    
    .btn-link {
        background-image:none;
        background-color:#243165 !important;
        color: #7a70ff;
    }


    